<div class="form-container">
    <form class="form" action="/user/{{user._id}}/edit" method="post">
        <h1 class="form-title"> Edit your profile</h1>

        <div class="form-item">
            <label class="form-label" for="firstname">Firstname</label>
            <input class="form-input" type="text" id="firstname" name="firstname" value="{{user.firstname}}">
        </div>

        <div class="form-item">
            <label class="form-label" for="lastname">Lastname</label>
            <input class="form-input" type="text" id="lastname" name="lastname" value="{{user.lastname}}">
        </div>

        <div class="form-item">
            <label class="form-label" for="email">Email</label>
            <input class="form-input" type="text" id="email" name="email" value="{{user.email}}">
        </div>

        {{#if isAdmin}}
        <div class="form-radio-item fit-item">
            <h3 class="form-radio-title">Is admin ?</h3>
            <div>
                <label for="role">No</label>
                <input name="role" type="radio" value="user" {{isSameValue user.role "user"}}>
            </div>

            <div>
                <label for="role">Yes</label>
                <input name="role" type="radio" value="admin" {{isSameValue user.role "admin"}}>
            </div>
        </div>
        {{/if}}

        <div class="flex-btn-container fit-item">
            <a href="/user/{{user._id}}">< go back</a>
            <button class="btn red-background form-btn">Save changes</button>
        </div>
    </form>
</div>