<div>
    <h2>{{this.name}}</h2>
    <h3>{{this.country}} || {{this.region}} || {{this.altitude}}</h3>
    <h4>{{this.dryingMethod}} || {{this.roast}}</h4>
    <p>{{this.flavorProfile}}</p>
    <a href="/coffee/{{this._id}}/edit">edit</a> ||
    <a href="/coffee/{{this._id}}/delete">delete</a>
</div>
<br>