<div class="dashboard-container">
    <div class="right">
        <h1 class="feed-title">
            <i class="fas fa-users"></i> Community coffees
        </h1>
        <div class="feed-content">
            {{#each coffees}}
            {{> feed_card}}
            {{/each}}
        </div>
    </div>

    <div class="top-left block">
        <div class="chart-container">
            <canvas id="myChart" width="450" height="300"></canvas>
        </div>
    </div>

    <div class="top-right block">
        <div class="chart-container">
            <canvas id="chart2" width="450" height="300"></canvas>
        </div>
    </div>

    <div class="bottom block">

        <div class="basic-info-container">

            <div class="header-welcome">
                <h1>Welcome to your <span class="red-low-dash">dashboard</span> {{currentUser.firstname}} </h1>
                <p>You'll find some interesting informations about your coffee journey here. Enjoy!</p>
            </div>

            <div class="fav brew-tech">
                <div class="fav-circle">
                    <img src="{{favBrewMethod.image}}" alt="brew-tech-img">
                </div>
                <div class="fav-text">
                    <h2>{{favBrewMethod.name}}</h2>
                    <h3>is your favorite technique</h3>
                </div>
            </div>

            <div class="fav coffee">
                <div class="fav-name">
                    <h2 id="coffee-name">{{favCoffee.name}}</h2>
                    <h3>is your favorite coffee</h3>
                </div>
                <div class="fav-origin">
                    <p><i class="fas fa-map-marker-alt"></i> {{favCoffee.country}} | <i class="fas fa-mountain"></i>
                        {{favCoffee.altitude}}m | <i class="fas fa-dot-circle"></i> {{favCoffee.roast}}</p>
                </div>
            </div>
            <div class="fav coffee-number">
                <div class="number">
                    <span id="coffee-nb">{{numOfCoffees}}<i class="fas fa-coffee"></i></span>
                </div>
                <div class="text">
                    <h2>total # of coffees drank </h2>
                    <h3>so far...</h3>
                </div>
            </div>

        </div>