<div class="dashboard-container">
    <div class="right">
        <h1 class="feed-title">
            <i class="fas fa-users"></i> Community coffees
        </h1>
        <div class="feed-content">
            {{#each coffees}}
            {{> feed_card}}
            {{/each}}
        </div>
    </div>

    <div class="top-left block">
        <div class="chart-container">
            <canvas id="myChart" width="450" height="300"></canvas>
        </div>
    </div>

    <div class="top-right block">
        <div class="chart-container">
            <canvas id="chart2" width="450" height="300"></canvas>
        </div>
    </div>

    <div class="bottom block">
        <div class="infos-box">
            <div class="fav-coffee">Hello {{currentUser.firstname}}!</div>
            <div>Favorite technique : {{favBrewMethod.name}}</div>
            <div class="num-of-coffees">Num of coffees you drank so far : {{numOfCoffees}}</div>
            <p>
                Coffee you dank the most: <br>
                {{favCoffee.name}}, from {{favCoffee.country}} <br>
                altitude of {{favCoffee.altitude}} <br>
                roast level : {{favCoffee.roast}}
            </p>
        </div>
    </div>